.header {
  width: 100%;

  mat-toolbar-row {
    width: 100%;
  }

  &__logo {
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

    .mat-title {
      margin: 0;
      font-size: 24px;
    }

    .mat-caption {
      letter-spacing: 1px;
      width: 100%;
      text-align: center;
    }
  }

  &__actions {
    button {
      min-width: 80px;

      mat-icon {
        margin-left: 5px;
      }
    }
  }
}
