<mat-toolbar class="mat-elevation-z5 header">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column" fxLayoutAlign="center start" class="header__logo" routerLink="/" matRipple>
      <div class="mat-title">ENDAVA</div>
      <div class="mat-caption">CDK & NGRX</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">

      <div fxLayout="row" fxLayoutGap="10px" class="header__actions">
        <button mat-button routerLink="cdk">CDK</button>
        <button mat-button routerLink="ngrx">NGRX</button>
      </div>

      <mat-slide-toggle
        [checked]="(isDarkTheme$ | async)"
        matTooltip="Change theme"
        color="accent"
        (change)="switchTheme($event)">
      </mat-slide-toggle>
    </div>
  </mat-toolbar-row>

</mat-toolbar>

