<div class="products">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 20px;">
    <div class="mat-title-extended">
      All products
    </div>
    <app-dom-portal selector="#refreshPlaceholder">
      <button mat-stroked-button color="accent" (click)="refreshProducts()">
        <span>Refresh data</span>
        <mat-icon>refresh</mat-icon>
      </button>
    </app-dom-portal>
  </div>

  <ng-container *ngIf="productState$ | async as productState">
    <app-product-table [products]="productState.filteredProducts"></app-product-table>
  </ng-container>
</div>
