@import "../theme-component-mixins";

$light-background-palette: (
  50: #f0f0f5,
  100: #eaebf1,
  200: #d5d6e2,
  300: #b6b9cd,
  400: #9599b7,
  500: #6d739c,
  600: #4e5373,
  700: #34364c,
  800: #212330,
  900: #1d1e2a,
  A100: #ffffff,
  A200: #d5d6e2,
  A400: #9599b7,
  A700: #34364c,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$accent-palette: (
  50: #fcece8,
  100: #fbe5df,
  200: #f9cec3,
  300: #f5ab99,
  400: #f07556,
  500: #e23c12,
  600: #a82a0b,
  700: #761b05,
  800: #551302,
  900: #471001,
  A100 : #fff3f2,
  A200 : #ffc4bf,
  A400 : #ff958c,
  A700 : #ff7e73,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$primary-palette: (
  50: #f0f9ff,
  100: #e6f5ff,
  200: #c8e8fe,
  300: #93d3fb,
  400: #59bbf7,
  500: #0e97ec,
  600: #0d78ba,
  700: #0b5e8e,
  800: #0b4e74,
  900: #0c476a,
  A100 : #eedbf5,
  A200 : #e0caec,
  A400 : #a88ac1,
  A700 : #422a6f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);
$warn-palette: (
  50: #ffebeb,
  100: #ffe5e5,
  200: #ffcccc,
  300: #ffa8a8,
  400: #ff7575,
  500: #ff1414,
  600: #c30909,
  700: #910d0d,
  800: #6a1010,
  900: #5d1414,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);


