<div class="product-widget-overlay mat-elevation-z10">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
    <div class="mat-title-extended" style="margin-bottom: 0;font-size: 16px;">Product details</div>
    <button mat-icon-button (click)="closeOverlay()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="product$ | async as product">
    <div class="product-widget-overlay__container">
      <div class="mat-subheading-1">Product name</div>
      <div class="mat-body-1">
        {{product.productName}}
      </div>
      <div class="mat-subheading-1">Product price</div>
      <div class="mat-body-1">
        {{product.price}}
      </div>
      <div class="mat-subheading-1">Product description</div>
      <div class="mat-body-1">
        {{product.productDescription}}
      </div>
    </div>
  </ng-container>
</div>

